# Virtual Environments
venv/
env/

# Python Cache
__pycache__/
*.pyc
*.pyo
.pytest_cache/

# Databases & Data
*.db
predictions.db
*.sqlite3

# Env Files
.env

# IDEs
.idea/
.vscode/

# Ignore HuggingFace models if downloaded locally
models/
